.home {
    width: 100%;
    height: 100vh;  
    display: flex;
}


.home-left-container {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.home-right-container {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;  

    .home-right-countdown {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
}

.home-dhanus-text-primary {
  font-size: 10vw;
  line-height: 1em;
  font-weight: 800;
  outline: none;
  background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: animate 10s linear infinite;
}
  @keyframes animate {
    to{
        background-position: 400%;
  }
}

.home-dhanus-text-secondary {
    color: rgb(147, 147, 147);
    font-weight: 400;
    font-size: 0.8em;

    span {
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 500px) {
    .home {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .home-left-container {
        height: 90vh;
        width: 100%;
        padding: 20px;
    }

    .home-right-container {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, 50%);
    }

    .home-dhanus-text-primary {
        font-size: 19vw;
    }
}