.navbar {
    width: 100%;
    border: white solid 1px;
    height: 80px;
    position: absolute;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 5em;
    }
}

.navbar-options {
    margin-right: 15px;
    display: flex;
    .navbar-option {
        color: white;
        font-size: 1.2em;
        font-weight: 400;
        margin-right: 15px;
        text-decoration: none;
        transition: ease-in 0.2s;
        cursor: pointer;

        &:hover {
            color: rgb(255, 68, 0);
        }
    }
    .navbar-contact-us-btn {
        border: rgb(231, 65, 0) solid 1px;
        color: rgb(231, 65, 0);
        padding: 8px;
        border-radius: 4px;
        font-size: 1.2em;
        width: 150px;
        cursor: pointer;
        transition: ease-in 0.2s;

        &:hover {
            background-color: rgb(231, 39, 0);
            color: black;
        }
    }
}