.event-card {
    border-radius: 4px;
    margin-top: 10px;
    width: fit-content;
    padding: 5px;
    //background: radial-gradient(circle at 30% 107%, #fdf497 0%, #a4991b 5%, #a72115 45%,#b31b83 60%,#153cb2 90%);
   // box-shadow: 0 0 30px black;
    transition: transform ease-in 0.2s;

    &:hover {
        transform: scale(1.02);
    }
}

.event-card-inner {
    overflow: hidden;
    img {
        object-fit: contain;
        width: 340px;
        height: 490px;
        transition: transform ease-in 0.2s;
    }
}

@media only screen and (max-width: 500px) {
    .event-card {
        border-radius: 4px;
        margin-top: 10px;
        width: 360px;
        height: 500px;
        padding: 5px;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #a4991b 5%, #a72115 45%,#b31b83 60%,#153cb2 90%);
        box-shadow: 0 0 30px black;
        transition: transform ease-in 0.2s;
    
        &:hover {
            transform: scale(1.02);
        }
    }
    
    .event-card-inner {
        overflow: hidden;
        img {
            width: 360px;
            height: 490px;
            transition: transform ease-in 0.2s;
        }
    }
}