
.event-card {
    border-radius: 4px;
    img {
        width: 420px;
        border: rgba(52, 52, 52, 0.678) solid 4px;
        height: fit-content;
        object-fit: contain;
        border-radius: 4px;
    }
}

@media only screen and (max-width: 500px) {
    .event-card {
        border-radius: 4px;
        img {
            width: 350px;
            border: rgba(52, 52, 52, 0.678) solid 4px;
            height: fit-content;
            object-fit: contain;
            border-radius: 4px;
        }
    }
}